ARMvc/Connected Services/KnetService/KNETService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51405/KNETService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KNETService" />
  <xs:element name="InitPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/KNETService" minOccurs="0" name="objRequest" nillable="true" type="q1:RequestModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/KNETService" minOccurs="0" name="InitPaymentResult" nillable="true" type="q2:ResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePaymentData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/KNETService" minOccurs="0" name="objRequest" nillable="true" type="q3:RequestModel" />
        <xs:element minOccurs="0" name="transData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievePaymentDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/KNETService" minOccurs="0" name="RetrievePaymentDataResult" nillable="true" type="q4:ResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>