ARMvc/Connected Services/KnetService/KNETService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KNETService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KNETService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="KNETConfig" nillable="true" type="tns:Configuration" />
      <xs:element minOccurs="0" name="ReffNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestModel" nillable="true" type="tns:RequestModel" />
  <xs:complexType name="Configuration">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliasName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KnetCurrency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourcePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Configuration" nillable="true" type="tns:Configuration" />
  <xs:complexType name="ResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaymentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RedirectionURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UDF5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseModel" nillable="true" type="tns:ResponseModel" />
</xs:schema>